


.card {
    border: 1px solid black;
    width: 40%;
    margin: 170px;
    padding-left: 20px;
    margin-right: 60px;
    box-shadow: 0 1px 2px 0;
    background-color: black;
    color: aliceblue;
    
}
.form{
    background-color: black;
    color: rgb(10, 9, 9);
    height: 100px;
    padding: 10px;
    color: aliceblue;
   
    
}
form label{
    padding-top: 100px;
}
input{
    display: inline;
    
    padding-top: 100px;
    height: 70px;
    color:aliceblue
}
.cont2,.cont3 {
    text-decoration: line-through;   
}